* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  gap: 30px;
}

/* CỘT TRÁI */
.left {
  width: 30%;
}

.left h2 {
  margin-bottom: 8px;
}

.left p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.left h3 {
  margin: 16px 0 8px;
}

/* ẢNH NHỎ */
.small-img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  margin-bottom: 15px;
  background: #ccc;
}

/* CỘT PHẢI */
.right {
  width: 70%;
}

.right h1 {
  margin-bottom: 6px;
}

.right p {
  margin-bottom: 12px;
  line-height: 1.6;
}

.date {
  color: gray;
  font-size: 14px;
  margin-bottom: 12px;
}

/* ẢNH LỚN */
.main-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 15px;
  background: #ccc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}
